In [81]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

db_user = "root"
db_password = "12341234"
db_host = "localhost"
db_port = "3306"
db_name = "miniproject2"

engine = create_engine(f"mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

df = pd.read_sql("SELECT * FROM ml_base_view", engine)
df = df.dropna(subset=["population_diff", "car_diff"])
df.head()

  district    datetime  population  population_diff  car_count  car_diff
0       전체  2021-04-01   9819851.0          -8243.0  3159075.0     365.0
1       전체  2021-05-01   9806728.0         -13123.0  3160629.0    1554.0
2       전체  2021-06-01   9795426.0         -11302.0  3162985.0    2356.0
3       전체  2021-07-01   9785265.0         -10161.0  3171767.0    8782.0
4       전체  2021-08-01   9774371.0         -10894.0  3171749.0     -18.0

In [82]:
df=df[df['district']=='동대문구']

In [83]:
df[["population_diff", "car_diff"]].describe()

       population_diff    car_diff
count        48.000000   48.000000
mean        195.416667  111.083333
std         634.135291  185.330738
min       -1099.000000 -278.000000
25%        -220.250000    6.250000
50%         123.500000   60.000000
75%         491.500000  162.250000
max        2004.000000  619.000000

In [84]:
df[["population_diff", "car_diff"]].corr()

                 population_diff  car_diff
population_diff         1.000000  0.636841
car_diff                0.636841  1.000000

In [85]:
X = df[["population_diff"]]
y = df["car_diff"]

In [86]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X, y)

coef = model.coef_[0]
intercept = model.intercept_

In [87]:
print(coef)
print(intercept)

0.18612154179153514
74.71208204157084

In [88]:
r2 = model.score(X, y)

print(f"R² : {r2:.3f}")

R² : 0.406